@page "/"

<PageTitle>Index</PageTitle>

<h1>Tutorial Links</h1>

<ul>
	<li><a href="https://www.yogihosting.com/blazor-select-custom-validator/" target="_blank">Blazor – Creating a reusable HTML Select Component with a Custom Validator</a></li>
	<li><a href="https://www.yogihosting.com/blazor-multi-file-upload-progress-bar/" target="_blank">Blazor Multi File Upload with Progress Bar</a></li>
</ul>